@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Index.css">
    <title> Amaré </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id='Container'>
        <nav>
            <img id="FlowerDecorate" src="~/images/IndexFlowers.png" alt="">
            <h1> Amaré </h1>
                <div id='Dashboard' class="Link">
                    <img src="~/images/dashboard.png" alt="">
                    <h2> Dashboard </h2>
                </div>
                <div id='Vendors' class="Link">
                    <img src="~/images/vendor.png" alt="">
                    <h2> Vendors </h2>
                </div>
                <div id="Planning" class="Link">
                    <img src="~/images/planning.png" alt="">
                    <h2> Planning </h2>
                </div>
                <div id='LiveFeed' class="Link">
                    <img src="~/images/livefeed.png" alt="">
                    <h2> Live Feed </h2>
                </div>
                <div id='MyAccount' class='Link'>
                    <img src="~/images/myaccount.png" alt="">
                    <h2> My Wedding </h2>
                </div>
        </nav>
        <div id="Panel">
            <div id='DashboardPanel'>
                <h1> @ViewBag.Groom & @ViewBag.Bride's Wedding </h1>
            </div>
            <div id='PanelElements' class="Active">
                <div id='Budget'>
                    <div id='ChartDiv'>
                        <h2> Budget Overview </h2>
                        <div id='ChartBudget'> 
                            <canvas id='Chart'></canvas>
                        </div>
                    </div>
                    <div id='Expenses'>
                        
                    </div>
                </div>
                <div id='TaskList'>
                    <div id='TaskListHeader'>
                        <h2> Task Pendings </h2>
                    </div>
                    <div id='TotalTasks'>
                        <h1> </h1>
                        <h4> Tasks</h4>
                    </div>
                </div>
                <div id='GuestList'>
                    <div id='GuestListHeader'>
                        <h2> Total Guests </h2>
                    </div>
                    <div id='TotalGuests'>
                        <h1> </h1>
                        <h4> Guests</h4>
                    </div>
                </div>
                <div id='DaysToGo'>
                    <h2> Wedding Schedule </h2>
                    <div id="MainDaysToGo">
                        <h2> Jose & Rafa's Wedding</h2>
                        <h2> 5 Days to go </h2>
                    </div>
                    <div id='ToGos'>
                        <div id="TaskDaysToGo">
                            <img src="" alt="">
                            <h3> Number Of Tables </h3>
                            <h3 id='DashboardNumberTables'>  </h3>
                        </div>
                        <div id='BudgetDaysToGo'>
                            <img src="" alt="">
                            <h3> Available Budget </h3>
                        </div>
                    </div>
                </div>
                <div id='TableSeating'>
                    <div id='TableSeatingHeader'>
                        <h2> Table Seating </h2>
                    </div>
                    <div id='Tables'>

                    </div>
                </div>
            </div>
            <div id='VendorsPanel' class="Active">
                <div id='VendorsToHire'>
                    <div id='VendorsToHireHeader'>
                        <h2> Favorite Vendors </h2>
                        <button onclick="OpenVendorsForm()"> Add </button>
                    </div>
                    <div id='VendorsToHireList'>
                        
                    </div>
                    <div id='VendorsToHireForm'>
                        <img onclick="CloseVendorsForm()" src="~/images/close.png" alt="">
                        <form action="">
                            <h1> Add Your Vendor </h1>
                            <label for="FormVendorName"> Vendor Name </label>
                            <input id='FormVendorName' name="VendorName" type="text">
                            <label for="FormVendorDescription"> Vendor Description </label>
                            <input id='FormVendorDescription' name="VendorDescription" type="text">
                            <label for="FormVendorType"> Vendor Type </label>
                            <select id='FormVendorType' name="VendorType">
                                <option value="Venue"> Venue </option>
                                <option value="Photographer"> Photographer </option>
                                <option value="Catering"> Catering </option>
                                <option value="Florist"> Florist </option>
                                <option value="Other"> Other </option>
                            </select>
                            <label for="VendorPrice"> Vendor Price </label>
                            <input id='VendorPrice' name='VendorPrice' type="text">
                            <button> Submit </button>
                        </form>
                    </div>
                </div>
                <div id='VendorsHired'>
                    <h2> Hired Vendors </h2>
                    <div id='VendorsHiredList'>
                        
                    </div>
                </div>
                <div id='ExtraExpenses' >
                    <div id='ExtraExpensesHeader'>
                        <h2> Extra Expenses </h2>
                        <button onclick="OpenExtraExpensesForm()"> Add </button>
                    </div>
                    <div id='ExtraExpensesList'>
    
                    </div>
                    <div id='ExtraExpensesForm'>
                        <img onclick="CloseExtraExpensesForm()" src="~/images/close.png" alt="">
                        <h2> Add An Extra Expense </h2>
                        <form action="">
                            <label for=""> Expense Name </label>
                            <input id='ExpenseName' name='ExpenseName' type="text">
                            <label for=""> Price </label>
                            <input id='ExpensePrice' name='ExpensePrice' type="text">
                            <button> Submit</button>
                        </form>
                    </div>
                </div>
                <div id='BudgetAvalaible'>
                    <h2> Budget Available </h2>
                    <div id='TotalBudgetAvailable'>
                        <h3> Total Budget Available </h3>
                    </div>
                </div>
            </div>
            <div id='PlanningPanel' class="Active">
                <div id='TablesPlanning'>
                    <div id='TablesPlanningHeader'>
                        <h2> Tables Seating </h2>
                        <button onclick="OpenAddTablesForm()"> Add </button>
                    </div>
                    <div id='TablesPlaningSection'>
                        <div id='SelectedTable'>
                            <div id='SmallCircle'>
                                <h4> Chicago </h4>
                            </div>
                        </div>
                    </div>
                    <div id='TablesPlanningList'>
        
                    </div>
                    <div id='TablesForm'>
                        <h2> Create a new Table </h2>
                        <form id="AddTablesForm" action="">
                            <img onclick="CloseAddTablesForm()" src="~/images/close.png" alt="">
                            <label for="TableName"> Table Name </label>
                            <input id='TableName' type="" required>
                            <div id='AddGuestHeader'>
                                <h3> Add Guest to this table </h3>
                                <img onclick="AddGuestToTable()" src="~/images/Add.png" alt="">
                                <img onclick="RemoveGuestToTable()" src="~/images/Remove.png" alt="">
                            </div>
                            <div id='AddGuestToTable'>
                                <div class='NewGuestOnTable'>
                                    <label for="GuestsName"> Guest Name: </label>
                                    <input id='GuestsName' type="text" required>
                                </div>
                            </div>
                            <button type="submit"> Submit </button>
                        </form>
                    </div>
                </div>
                <div id='WeddingSchedulePlanning'>
                    <div id='WeddingSchedulePlanningHeader'>
                        <h2> Wedding Itinerary </h2>
                        <button onclick="OpenWeddingScheduleForm()"> Add </button>
                    </div>
                    <div id='WeddingItinerary'>
                        
                    </div>
                    <div id='WeddingScheduleForm'>
                        <img onclick="CloseWeddingScheduleForm()" src="~/images/close.png" alt="">
                        <h2> Add a event to your wedding </h2>
                        <form id='ScheduleForm' action="">
                            <label for="WeddingEventForm"> Wedding Event </label>
                            <input id='WeddingEventForm' name="WeddingEventName" type="text" required>
                            <label for="EventTimeForm"> Event Time </label>
                            <input id='EventTimeForm' name="WeddingEventTime" type="time" required>
                            <button type="submit"> Submit </button>
                        </form>
                    </div>
                </div>
                <div id='ManageTasksPlanning'>
                    <div id='ManageTaskPlanningHeader'>
                        <h2> To-do List </h2>
                        <button onclick="OpenTaskForm()"> Add </button>
                    </div>
                    <div id='ManageTasks'>
                        
                    </div>
                    <div id='TasksDivForm'>
                        <img onclick="CloseTaskForm()" src="~/images/close.png" alt="">
                        <form id='TaskForm' action="">
                            <h2> Add a task </h2>
                            <label for="TaskNameForm"> Task Name </label>
                            <input id='TaskNameForm' name="TaskName" type="text" required>
                            <label for="TaskDateForm"> Task Date </label>
                            <input id='TaskDateForm' name="TaskDate" type="date" required>
                            <button type='submit'> Submit </button>
                        </form>
                    </div>
                </div>
                <div id='ChallengesPlanning'>
                    <div id='ChallengePlanningHeader'>
                        <h2> Challenges </h2>
                        <button onclick="OpenChallengePlanning()"> Add </button>
                    </div>
                    <div id='ChallengesList'>
                        
                    </div>
                    <div id='ChallengeDivForm'>
                        <img onclick="CloseChallengePlanning()" src="~/images/close.png" alt="">
                        <form id='ChallengeForm' action="">
                            <h2> Add Challenge </h2>
                            <label for="ChallengeName"> Challenge Name </label>
                            <input id='ChallengeName' name="ChallengeName" type="text" required>
                            <label for="ChallengeDescription"> Challenge Description </label>
                            <input id='ChallengeDescription' name="ChallengeDescription" type="text" required>
                            <label for="ChallengePoints"> Challenge Points </label>
                            <input id='ChallengePoints' name="ChallengePoints" type="text" required>
                            <button type="submit"> Submit </button>
                        </form>
                    </div>
                </div>
                <div id='GuestListPlanning'>
                    <div id='GuestListPlanningHeader'>
                        <h2> Guest List </h2>
                        <button onclick="OpenGuestsForm()"> Add </button>    
                    </div>
                    <div id='GuestPlanningList'>
                        
                    </div>
                    <div id='GuestPlanningForm'>
                        <img onclick="CloseGuestsForm()" src="~/images/close.png" alt="">
                        <h2> Add a Guest </h2>
                        <form id='GuestForm' action="">
                            <label for="GuestName"> Guest Name </label>
                            <input id='GuestName' name='guest' type="text" required>
                            <button type="submit"> Submit </button>
                        </form>
                    </div>
                </div>
            </div>
            <div id='LiveFeedPanelContainer' class="Active">
                <div id='LiveFeedPanel'>
                    <img id="Phone" src="~/images/PhoneDesign.png" alt="">
                    <img onclick="OpenUploadForm()" id='AddPost' src="~/images/Add.png" alt="">
                    <div id='PhoneScreen'>
                        <form id='UploadPostForm' action="">
                            <img onclick="CloseUploadForm()" id="CloseUploadPost" src="~/images/close.png" alt="">
                            <h2> Upload a new Post </h2>
                            <label for="PostDescription"> Post Description </label>
                            <textarea id='PostDescription' name="PostDescription" id=""></textarea>
                            <label id='UploadImage' for="PostImage">
                                Upload Image
                                <input id='PostImage' name='PostImage' accept="images/*" type="file">
                            </label>
                            <button type="submit"> Post it! </button>
                        </form>
                        <div id='PhoneHeader'>
                            <img src="~/images/ArrowBack.png" alt="">
                            <h2> Welcome, Jose </h2>
                        </div>
                        <div id='LiveFeedPosts'>
                            <div class="Post">
                                <h3> Rafaela </h3>
                                <div class='MainPost'>
                                    <div class='PostLike'>
                                        <h5> 5 </h5>
                                    </div>
                                    <a class='PostImage' target="_blank" href="~/images/SignupBrideGroom.png" download="MyWeddingPhoto.png">
                                        <img src="~/images/SignupBrideGroom.png" alt="" required>
                                    </a>
                                </div>
                                <h4> This photo is amazing!!!</h4>
                            </div>
                            <div class="Post">
                                <h3> Rafaela </h3>
                                <div class='MainPost'>
                                    <div class='PostLike'>
                                        <h5> 5 </h5>
                                    </div>
                                    <a class='PostImage' target="_blank" href="~/images/SignupBrideGroom.png" download="MyWeddingPhoto.png">
                                        <img src="~/images/SignupBrideGroom.png" alt="">
                                    </a>
                                </div>
                                <h4> This photo is amazing!!!</h4>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            <div id='MyAccountPanel' class="Active">
                <h2> My Wedding Information </h2>
                <div id='MyWeddingData'>
                    <div id='MyAccountPhoto'>
                        <div id='MyAccountPhotoContainer'>
                            <div id='ProfilePhotoForm'>
                                <img onclick="CloseProfilePhotoForm()" src="~/images/close.png" alt="">
                                <label for="ProfilePhotoFormInput">
                                    Upload Photo
                                    <input id="ProfilePhotoFormInput" type="file" accept="images/*">
                                </label>
                            </div>
                            <img id='AccountPhoto' src="~/images/CoupleProfilePhoto.jpg" alt="">
                            <img onclick="OpenProfilePhotoForm()" id='EditAccountPhoto' src="~/images/edit.png" alt="">
                        </div>
                    </div>
                    <div id='MyAccountInformation'>
                        <div id='WeddingInfo1'>
                            <h2> Bride's Name: Rafaela </h2>
                            <h2> Groom's Name: Jose </h2>
                            <h2> Accont's e-mail: jagarcia505050@gmail.com</h2>
                        </div>
                        <div id='WeddingInfo2'>
                            <div id="WeddingLocation">
                                <img src="~/images/location.png" alt="">
                                <h2> Wedding's Location: </h2>
                            </div>
                            <div id="WeddingDate">
                                <img src="~/images/calendar.png" alt="">
                                <h2> Wedding's Date: </h2>
                            </div>
                            <a> Your Wedding Photos </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/Index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        async function loadDataChart(){
            [rawExpenses, rawVendors, rawBudget] = await Promise.allSettled([
                fetch('/api/Expenses').then(response => response.json()),
                fetch('/api/Vendors').then(response => response.json()),
                fetch('/api/Budget').then(response => response.json())
            ])

            const char = document.getElementById('Chart')
            console.log(char)

            let totalExpense = 0

            let expenses = []

            let vendors = []

            const maxBudget = rawBudget.value[0].maxBudget

            rawExpenses.value.forEach(e => {
                expenses.push(e.expensePrice)
                totalExpense += e.expensePrice
            })

            rawVendors.value.forEach(v => {
                if (v.hired == 1){
                    vendors.push(v.vendorPrice)
                    totalExpense += v.vendorPrice
                }
            })

            const budget = maxBudget - totalExpense

            console.log(totalExpense, budget, maxBudget, expenses, vendors)

            new Chart(char, {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: [{
                    data: [totalExpense, budget],
                    borderWidth: 1,
                    backgroundColor: ['#c69f29', '#ffc000']
                }]
            },
            options: {
                plugins: {
                    tooltip: {
                        backgroundColor: 'Yellow',
                        callbacks: {
                            label: function(context) {
                                return Intl.NumberFormat('en-US', {
                                    style: "currency",
                                    currency: "USD"
                                }).format(context.raw);
                            }
                        }
                    }
                }
            }
        })
        }

        loadDataChart()

    </script>
</body>
</html>