@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Index.css">
    <title> Amaré </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id='Container'>
        <nav>
            <img id="FlowerDecorate" src="~/images/IndexFlowers.png" alt="">
            <h1> Amaré </h1>
                <div id='Dashboard' class="Link">
                    <img src="~/images/dashboard.png" alt="">
                    <h2> Dashboard </h2>
                </div>
                <div id='Vendors' class="Link">
                    <img src="~/images/vendor.png" alt="">
                    <h2> Vendors </h2>
                </div>
                <div id="Planning" class="Link">
                    <img src="~/images/planning.png" alt="">
                    <h2> Planning </h2>
                </div>
                <div id='LiveFeed' class="Link">
                    <img src="~/images/livefeed.png" alt="">
                    <h2> Live Feed </h2>
                </div>
                <div id='MyAccount' class='Link'>
                    <img src="~/images/myaccount.png" alt="">
                    <h2> My Wedding </h2>
                </div>
        </nav>
        <div id="Panel">
            <div id='DashboardPanel'>
                <h1> Jose & Rafa's Wedding </h1>
            </div>
            <div id='PanelElements' class="Active">
                <div id='Budget'>
                    <div id='ChartDiv'>
                        <h2> Budget Overview </h2>
                        <div id='ChartBudget'>
                            <h3> Total Budget <br>
                                $20000
                            </h3>
                            <canvas id='Chart'></canvas>
                        </div>
                    </div>
                    <div id='Expenses'>
                        <div class='Expense'>
                            <h3> Vendor </h3>
                            <h3> $2000 </h3>
                        </div>
                        <div class='Expense'>
                            <h3> DJ </h3>
                            <h3> $2000 </h3>
                        </div>
                    </div>
                </div>
                <div id='TaskList'>
                    <div id='TaskListHeader'>
                        <h2> Task Pendings </h2>
                    </div>
                    <div id='TotalTasks'>
                        <h1> 20 </h1>
                        <h4> Tasks</h4>
                    </div>
                </div>
                <div id='GuestList'>
                    <div id='GuestListHeader'>
                        <h2> Total Guests </h2>
                    </div>
                    <div id='TotalGuests'>
                        <h1> 64 </h1>
                        <h4> Guests</h4>
                    </div>
                </div>
                <div id='DaysToGo'>
                    <h2> Wedding Schedule </h2>
                    <div id="MainDaysToGo">
                        <h2> Jose & Rafa's Wedding</h2>
                        <h2> 5 Days to go </h2>
                    </div>
                    <div id='ToGos'>
                        <div id="TaskDaysToGo">
                            <img src="" alt="">
                            <h3> Number Of Tables </h3>
                            <h3> &lt; 6 &gt; </h3>
                        </div>
                        <div id='BudgetDaysToGo'>
                            <img src="" alt="">
                            <h3> Available Budget </h3>
                            <h3> &lt; $2000 &gt; </h3>
                        </div>
                    </div>
                </div>
                <div id='TableSeating'>
                    <div id='TableSeatingHeader'>
                        <h2> Table Seating </h2>
                    </div>
                    <div id='Tables'>
                        <div class="Table">
                            <h3> 1 </h3>
                            <h3> Chicago </h3>
                            <h3> 6 people </h3>
                        </div>
                        <div class="Table">
                            <h3> 1 </h3>
                            <h3> Orlando </h3>
                            <h3> 6 people </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div id='VendorsPanel' class="Active">
                <div id='VendorsToHire'>
                    <div id='VendorsToHireHeader'>
                        <h2> Favorite Vendors </h2>
                        <button onclick="OpenVendorsForm()"> Add </button>
                    </div>
                    <div id='VendorsToHireList'>
                        <div class="VendorToHire">
                            <img src="/images/VendorsPhotos/WeddingDefault.jpg" alt="">
                            <div class='VendorToHireTitle'>
                                <h3> Vendor Name </h3>
                                <button class="ToHireButton"> Hired </button>
                                <button class="ToHireRemoveButton"> Remove </button>
                            </div>
                            <h3> Vendor Service </h3>
                        </div>
                        <div class="VendorToHire">
                            <img src="/images/VendorsPhotos/WeddingFlorist.jpg" alt="">
                            <div class='VendorToHireTitle'>
                                <h3> Vendor Name </h3>
                                <button class="ToHireButton"> Hired </button>
                                <button class="ToHireRemoveButton"> Remove </button>
                            </div>
                            <h3> Vendor Service </h3>
                        </div>
                        <div class="VendorToHire">
                            <img src="/images/VendorsPhotos/WeddingVenue.jpg" alt="">
                            <div class='VendorToHireTitle'>
                                <h3> Vendor Name </h3>
                                <button class="ToHireButton"> Hired </button>
                                <button class="ToHireRemoveButton"> Remove </button>
                            </div>
                            <h3> Vendor Service </h3>
                        </div>
                    </div>
                    <div id='VendorsToHireForm'>
                        <img onclick="CloseVendorsForm()" src="~/images/close.png" alt="">
                        <form action="">
                            <h1> Add Your Vendor </h1>
                            <label for="FormVendorName"> Vendor Name </label>
                            <input id='FormVendorName' name="VendorName" type="text">
                            <label for="FormVendorDescription"> Vendor Description </label>
                            <input id='FormVendorDescription' name="VendorDescription" type="text">
                            <label for="FormVendorType"> Vendor Type </label>
                            <select id='FormVendorType' name="VendorType">
                                <option value="Venue"> Venue </option>
                                <option value="Photographer"> Photographer </option>
                                <option value="Catering"> Catering </option>
                                <option value="Florist"> Florist </option>
                                <option value="Other"> Other </option>
                            </select>
                            <label for="VendorPrice"> Vendor Price </label>
                            <input id='VendorPrice' name='VendorPrice' type="text">
                            <button> Submit </button>
                        </form>
                    </div>
                </div>
                <div id='VendorsHired'>
                    <h2> Hired Vendors </h2>
                    <div id='VendorsHiredList'>
                        <div class="VendorHired">
                            <img src="/images/VendorsPhotos/PhotographerWedding.jpg" alt="">
                            <div class="VendorHiredTitle">
                                <h3> Vendor Name </h3>
                                <button class="HiredRemoveButton"> Remove </button>
                            </div>
                            <h3> Vendor Service </h3>
                        </div>
                        <div class="VendorHired">
                            <img src="/images/VendorsPhotos/WeddingBuffet.jpg" alt="">
                            <div class="VendorHiredTitle">
                                <h3> Vendor Name </h3>
                                <button class="HiredRemoveButton"> Remove </button>
                            </div>
                            <h3> Vendor Service </h3>
                        </div>
                    </div>
                </div>
                <div id='ExtraExpenses' >
                    <div id='ExtraExpensesHeader'>
                        <h2> Extra Expenses </h2>
                        <button onclick="OpenExtraExpensesForm()"> Add </button>
                    </div>
                    <div id='ExtraExpensesList'>
                        <div class="ExtraExpense">
                            <h3> Expense Name </h3>
                            <h3> $2000 </h3>
                            <button class="ExtraExpenseRemoveButton"> Remove </button>
                        </div>
                        <div class="ExtraExpense">
                            <h3> Expense Name </h3>
                            <h3> $2000 </h3>
                            <button class="ExtraExpenseRemoveButton"> Remove </button>
                        </div>
                    </div>
                    <div id='ExtraExpensesForm'>
                        <img onclick="CloseExtraExpensesForm()" src="~/images/close.png" alt="">
                        <h2> Add An Extra Expense </h2>
                        <form action="">
                            <label for=""> Expense Name </label>
                            <input id='ExpenseName' name='ExpenseName' type="text">
                            <label for=""> Price </label>
                            <input id='ExpensePrice' name='ExpensePrice' type="text">
                            <button> Submit</button>
                        </form>
                    </div>
                </div>
                <div id='BudgetAvalaible'>
                    <h2> Budget Available </h2>
                    <div id='TotalBudgetAvailable'>
                        <h3> Total Budget Available </h3>
                        <h3> $20000 </h3>
                    </div>
                </div>
            </div>
            <div id='PlanningPanel' class="Active">
                <div id='TablesPlanning'>
                    <div id='TablesPlanningHeader'>
                        <h2> Tables Seating </h2>
                        <button onclick="OpenAddTablesForm()"> Add </button>
                    </div>
                    <div id='TablesPlaningSection'>
                        <div id='SelectedTable'>
                            <div id='SmallCircle'>
                                <h4> Chicago </h4>
                            </div>
                        </div>
                    </div>
                    <div id='TablesPlanningList'>
                        <div class="TablePlanning"> 
                            <h3> 1 </h3>
                            <h3> Chicago </h3>
                            <h3> 6 people </h3>
                            <button class="RemoveTable"> Remove </button>
                        </div>
                        <div class="TablePlanning">
                            <h3> 2 </h3>
                            <h3> Orlando </h3>
                            <h3> 6 people </h3>
                            <button class="RemoveTable"> Remove </button>
                        </div>
                        <div class="TablePlanning">
                            <h3> 3 </h3>
                            <h3> Miami </h3>
                            <h3> 6 people </h3>
                            <button class="RemoveTable"> Remove </button>
                        </div>
                    </div>
                    <div id='TablesForm'>
                        <h2> Create a new Table </h2>
                        <form id="AddTablesForm" action="">
                            <img onclick="CloseAddTablesForm()" src="~/images/close.png" alt="">
                            <label for="TableName"> Table Name </label>
                            <input id='TableName' type="" required>
                            <div id='AddGuestHeader'>
                                <h3> Add Guest to this table </h3>
                                <img onclick="AddGuestToTable()" src="~/images/Add.png" alt="">
                                <img onclick="RemoveGuestToTable()" src="~/images/Remove.png" alt="">
                            </div>
                            <div id='AddGuestToTable'>
                                <div class='NewGuestOnTable'>
                                    <label for="GuestsName"> Guest Name: </label>
                                    <input id='GuestsName' type="text" required>
                                </div>
                            </div>
                            <button type="submit"> Submit </button>
                        </form>
                    </div>
                </div>
                <div id='WeddingSchedulePlanning'>
                    <div id='WeddingSchedulePlanningHeader'>
                        <h2> Wedding Itinerary </h2>
                        <button onclick="OpenWeddingScheduleForm()"> Add </button>
                    </div>
                    <div id='WeddingItinerary'>
                        <div class='WeddingActivity'>
                            <h3> &#8594; </h3>
                            <h3> Activity Name </h3>
                            <h3> 13:00 </h3>
                        </div>
                        <div class='WeddingActivity'>
                            <h3> &#8594; </h3>
                            <h3> Activity Name </h3>
                            <h3> 15:00 </h3>
                        </div>
                        <div class='WeddingActivity'>
                            <h3> &#8594; </h3>
                            <h3> Activity Name </h3>
                            <h3> 18:00 </h3>
                        </div>
                    </div>
                    <div id='WeddingScheduleForm'>
                        <img onclick="CloseWeddingScheduleForm()" src="~/images/close.png" alt="">
                        <h2> Add a event to your wedding </h2>
                        <form id='ScheduleForm' action="">
                            <label for="WeddingEventForm"> Wedding Event </label>
                            <input id='WeddingEventForm' name="WeddingEventName" type="text" required>
                            <label for="EventTimeForm"> Event Time </label>
                            <input id='EventTimeForm' name="WeddingEventTime" type="time" required>
                            <button type="submit"> Submit </button>
                        </form>
                    </div>
                </div>
                <div id='ManageTasksPlanning'>
                    <div id='ManageTaskPlanningHeader'>
                        <h2> To-do List </h2>
                        <button onclick="OpenTaskForm()"> Add </button>
                    </div>
                    <div id='ManageTasks'>
                        <div class='ManageTask'>
                            <div style="background-color: green;" class='ManageTaskActive'></div>
                            <h3> Call Vendor </h3>
                            <h3> 12/04/26 </h3>
                            <button class='ManageDone'> Done </button>
                            <button class="ManageRemove"> Remove </button>
                        </div>
                        <div class='ManageTask'>
                            <div style="background-color: green;" class='ManageTaskActive'></div>
                            <h3> Call Vendor </h3>
                            <h3> 12/04/26 </h3>
                            <button class='ManageDone'> Done </button>
                            <button class="ManageRemove"> Remove </button>
                        </div>
                        <div class='ManageTask'>
                            <div style="background-color: red;" class='ManageTaskActive'></div>
                            <h3> Call Vendor </h3>
                            <h3> 12/04/26 </h3>
                            <button class='ManageDone'> Done </button>
                            <button class="ManageRemove"> Remove </button>
                        </div>
                    </div>
                    <div id='TasksDivForm'>
                        <img onclick="CloseTaskForm()" src="~/images/close.png" alt="">
                        <form id='TaskForm' action="">
                            <h2> Add a task </h2>
                            <label for="TaskNameForm"> Task Name </label>
                            <input id='TaskNameForm' name="TaskName" type="text" required>
                            <label for="TaskDateForm"> Task Date </label>
                            <input id='TaskDateForm' name="TaskDate" type="date" required>
                            <button type='submit'> Submit </button>
                        </form>
                    </div>
                </div>
                <div id='ChallengesPlanning'>
                    <div id='ChallengePlanningHeader'>
                        <h2> Challenges </h2>
                        <button onclick="OpenChallengePlanning()"> Add </button>
                    </div>
                    <div id='ChallengesList'>
                        <div class="Challenge">
                            <div class="ChallengeName">
                                <h2> Challenge's Name </h2>
                                <h3> 200 points </h3>
                            </div>
                            <button class='ChallengeRemove'> Remove </button>
                            <button> description </button>
                        </div>
                        <div class="Challenge">
                            <div class="ChallengeName">
                                <h2> Challenge's Name </h2>
                                <h3> 200 points </h3>
                            </div>
                            <button class='ChallengeRemove'> Remove </button>
                            <button> description </button>
                        </div>
                    </div>
                    <div id='ChallengeDivForm'>
                        <img onclick="CloseChallengePlanning()" src="~/images/close.png" alt="">
                        <form id='ChallengeForm' action="">
                            <h2> Add Challenge </h2>
                            <label for="ChallengeName"> Challenge Name </label>
                            <input id='ChallengeName' name="ChallengeName" type="text" required>
                            <label for="ChallengeDescription"> Challenge Description </label>
                            <input id='ChallengeDescription' name="ChallengeDescription" type="text" required>
                            <label for="ChallengePoints"> Challenge Points </label>
                            <input id='ChallengePoints' name="ChallengePoints" type="text" required>
                            <button type="submit"> Submit </button>
                        </form>
                    </div>
                </div>
                <div id='GuestListPlanning'>
                    <div id='GuestListPlanningHeader'>
                        <h2> Guest List </h2>
                        <button onclick="OpenGuestsForm()"> Add </button>    
                    </div>
                    <div id='GuestPlanningList'>
                        <div class="GuestPlanning">
                            <h3 class="GuestPlanningNumber"> 1 </h3>
                            <h3 class="GuestPlanningName"> Jose Garcia </h3>
                        </div>
                        <div class="GuestPlanning">
                            <h3 class="GuestPlanningNumber"> 2 </h3>
                            <h3 class="GuestPlanningName"> Rafaela Rodrigues </h3>
                        </div>
                    </div>
                    <div id='GuestPlanningForm'>
                        <img onclick="CloseGuestsForm()" src="~/images/close.png" alt="">
                        <h2> Add a Guest </h2>
                        <form id='GuestForm' action="">
                            <label for="GuestName"> Guest Name </label>
                            <input id='GuestName' name='guest' type="text" required>
                            <button type="submit"> Submit </button>
                        </form>
                    </div>
                </div>
            </div>
            <div id='LiveFeedPanelContainer' class="Active">
                <div id='LiveFeedPanel'>
                    <img id="Phone" src="~/images/PhoneDesign.png" alt="">
                    <img onclick="OpenUploadForm()" id='AddPost' src="~/images/Add.png" alt="">
                    <div id='PhoneScreen'>
                        <form id='UploadPostForm' action="">
                            <img onclick="CloseUploadForm()" id="CloseUploadPost" src="~/images/close.png" alt="">
                            <h2> Upload a new Post </h2>
                            <label for="PostDescription"> Post Description </label>
                            <textarea id='PostDescription' name="PostDescription" id=""></textarea>
                            <label id='UploadImage' for="PostImage">
                                Upload Image
                                <input id='PostImage' name='PostImage' accept="images/*" type="file">
                            </label>
                            <button type="submit"> Post it! </button>
                        </form>
                        <div id='PhoneHeader'>
                            <img src="~/images/ArrowBack.png" alt="">
                            <h2> Welcome, Jose </h2>
                        </div>
                        <div id='LiveFeedPosts'>
                            <div class="Post">
                                <h3> Rafaela </h3>
                                <div class='MainPost'>
                                    <div class='PostLike'>
                                        <h5> 5 </h5>
                                    </div>
                                    <a class='PostImage' target="_blank" href="~/images/SignupBrideGroom.png" download="MyWeddingPhoto.png">
                                        <img src="~/images/SignupBrideGroom.png" alt="" required>
                                    </a>
                                </div>
                                <h4> This photo is amazing!!!</h4>
                            </div>
                            <div class="Post">
                                <h3> Rafaela </h3>
                                <div class='MainPost'>
                                    <div class='PostLike'>
                                        <h5> 5 </h5>
                                    </div>
                                    <a class='PostImage' target="_blank" href="~/images/SignupBrideGroom.png" download="MyWeddingPhoto.png">
                                        <img src="~/images/SignupBrideGroom.png" alt="">
                                    </a>
                                </div>
                                <h4> This photo is amazing!!!</h4>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            <div id='MyAccountPanel' class="Active">
                <h2> My Wedding Information </h2>
                <div id='MyWeddingData'>
                    <div id='MyAccountPhoto'>
                        <div id='MyAccountPhotoContainer'>
                            <div id='ProfilePhotoForm'>
                                <label for="ProfilePhotoFormInput">
                                    Upload Photo
                                    <input id="ProfilePhotoFormInput" type="file" accept="images/*">
                                </label>
                            </div>
                            <img id='AccountPhoto' src="~/images/CoupleProfilePhoto.jpg" alt="">
                            <img onclick="OpenProfilePhotoForm()" id='EditAccountPhoto' src="~/images/edit.png" alt="">
                        </div>
                    </div>
                    <div id='MyAccountInformation'>
                        <div id='WeddingInfo1'>
                            <h2> Bride's Name: Rafaela </h2>
                            <h2> Groom's Name: Jose </h2>
                            <h2> Accont's e-mail: jagarcia505050@gmail.com</h2>
                        </div>
                        <div id='WeddingInfo2'>
                            <div id="WeddingLocation">
                                <img src="~/images/location.png" alt="">
                                <h2> Wedding's Location: </h2>
                            </div>
                            <div id="WeddingDate">
                                <img src="~/images/calendar.png" alt="">
                                <h2> Wedding's Date: </h2>
                            </div>
                            <a> Your Wedding Photos </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/Index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const char = document.getElementById('Chart')

        new Chart(char, {
        type: 'doughnut',
        data: {
            labels: [],
            datasets: [{
                data: [2000, 2000, 26000],
                borderWidth: 1,
                backgroundColor: ['#c69f29', '#ffc000', 'pink']
            }]
        },
        options: {
            plugins: {
                tooltip: {
                    backgroundColor: 'Green',
                    callbacks: {
                        label: function(context) {
                            return Intl.NumberFormat('en-US', {
                                style: "currency",
                                currency: "USD"
                            }).format(context.raw);
                        }
                    }
                }
            }
        }
    });
    </script>
</body>
</html>